# MongoDB Atlas Connection
MONGODB_URI=mongodb+srv://pranavsubburaj_db_user:<db_password>@cluster0.oxa0k9o.mongodb.net/BillingSystem?appName=Cluster0

# JWT Secret (generate a secure random string)
JWT_SECRET=your_jwt_secret_key_here
